body {
  background-color: #1a1b20 !important;
  font-family: "Oswald", sans-serif;
  color: white;
}

.btn-submit {
  background: linear-gradient(90deg, #ff7b00, #ff9500) !important;
  color: white !important;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
}

/* ستايل كارت العرض */
.manage-offer-card {
  width: 350px;
  background: #23242a;
  border: 1px solid #34353c;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
}

.manage-offer-card:hover {
  transform: translateY(-5px);
  border-color: #ff7b00;
}

.offer-img-container {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.offer-content {
  padding: 20px;
}

.btn-delete {
  background: rgba(220, 53, 69, 0.1);
  color: #dc3545;
  border: 1px solid #dc3545;
  width: 100%;
  transition: 0.3s;
  font-weight: bold;
}

.btn-delete:hover {
  background: #dc3545;
  color: white;
}
.btn-outline-light {
  border: 1px solid #ffffff !important;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-outline-light:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #34353c !important;
}

.offer-img-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background: #000; /* اختياري عشان الفراغ */
}

.offer-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
